@import url(http://fonts.googleapis.com/css?family=Barriecito);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn-read{
    @apply

    block w-full 
    bg-black 
    hover:bg-slate-500 
    text-white 
    font-bold 
    rounded-lg
  }

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #D93B48;
}
